body {
    font-family: sans-serif;
    background: #dedede;
    padding: 48px;
  }
  
  h1 {
    text-align: center;
    display: inline-block;
    font-size: 72px;
  }
  .container {
    display: flex;
  }
  .column {
    flex-direction: column;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .flex-flow {
    height: 200px;
    flex-flow: column-reverse wrap;
  }
  .item {
    background: purple;
    color: white;
    text-align: center;
    width: 150px;
    height: 50px;
    margin: 5px;
  }
  